<%- include('partials/header') %>

    


   


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
 
  
 
 
  
  <body class="text-center registerbg">

<main class="form-signin">
  <form acton="/" method="post">
    <img  class="ig" src="images/globeold2.png" alt="" width="111" height="110">
     <h1 class="h3 mb-3 fw-normal bl">News Daily</h1>
    <div class="form-floating top">
    <input type="text" class="form-control" name="fname" id="floatingInput" placeholder="First Name" required>
     </div>
    <div class="form-floating middle">
    <input type="text" class="form-control" name="lname" id="floatingPassword" placeholder="Last Name" required>
    </div>
    <div class="form-floating bottom">
    <input type="email" class="form-control"name="email" id="floatingPassword" placeholder="Email Address" required>
    </div>
    
    <button class="btn" type="submit">Sign Me Up!</button>
  
    <p class="mt-5 mb-3 text-muted">No Promotions, Promise!</p>
  </form>
</main>


    
  </body>
  <%- include('partials/footer') %>
